package main

import (
    "developer.zopsmart.com/go/gofr/cmd/gofr/migration"
	dbmigration "developer.zopsmart.com/go/gofr/cmd/gofr/migration/dbMigration"
	"developer.zopsmart.com/go/gofr/pkg/gofr"

	"{{.G.PackagePrefix}}/{{.D.Name}}-service/handler"
	"{{.G.PackagePrefix}}/{{.D.Name}}-service/store"
	"{{.G.PackagePrefix}}/{{.D.Name}}-service/migrations"
)

func main() {
	// create the application object
	app := gofr.New()

    // Bypass header validation during API calls
    app.Server.ValidateHeaders = false

    // Run DB Migrations
    err := migration.Migrate(app.Config.Get("APP_NAME"), dbmigration.NewGorm(app.GORM()), migrations.All(), "UP", app.Logger)

    if err != nil {
        app.Logger.Error(err)
    }

    {{- range .D.Entities }}
        {{$Name := .Name | PascalCase}}
        {{$name := .Name | CamelCase}}
        // Handlers for {{$name}}
        {{$name}}Store := store.New{{$Name}}Store()
        {{$name}}Handler  := handler.New{{$Name}}Handler({{$name}}Store)
        app.GET("/{{$name}}", {{ $name }}Handler.GetAll)
        app.GET("/{{$name}}/{id}", {{ $name }}Handler.Get)
        app.POST("/{{$name}}", {{ $name }}Handler.Create)
    {{- end }}

	// start the server
	app.Start()
}
