package store

import (
    "database/sql"

	"developer.zopsmart.com/go/gofr/pkg/gofr"
	"developer.zopsmart.com/go/gofr/pkg/errors"
	"github.com/google/uuid"
)

{{- $Name := .entity.Name | PascalCase}}
{{$_name := .entity.Name | SnakeCase -}}
{{$name := .entity.Name | CamelCase -}}

// Public interface
type {{$Name}}Store interface {
    Index(ctx *gofr.Context) ([]{{- $Name}}, error)
    Create(ctx *gofr.Context, {{$name}} {{$Name}}) (*{{$Name}}, error)
	Retrieve(ctx *gofr.Context, id string) (*{{$Name}}, error)
	Update(ctx *gofr.Context, {{$name}} *{{$Name}}) (*{{$Name}}, error)
    Delete(ctx *gofr.Context, id string) error
}

// DataModel for {{$name}}
type {{$Name}} struct {
    {{- range .entity.Fields }}
        {{.name | PascalCase}} {{.type}} `json:"{{.name | CamelCase}}"`
    {{- end }}
}

// Factory for the store interface
func New{{$Name}}Store() {{$Name}}Store  {
	return &{{$name}}{}
}

// Internal store type which should adhere to the public interface
type {{$name}} struct {}

func (m *{{$name}}) Index(ctx *gofr.Context) ([]{{$Name}}, error) {
    rows, err := ctx.DB().QueryContext(ctx, "select * from {{$_name}}")
    if err != nil {
        return nil, err
    }

    models := []{{$Name}}{}

    for rows.Next() {
        var m {{$Name}}
        err := rows.Scan(
         {{- range .entity.Fields }}&m.{{.name | PascalCase}},{{ end -}}
         )
        if err != nil {
                return nil, err
        }
        models = append(models, m)
    }

    return models, nil
}

func (m *{{$name}}) Create(ctx *gofr.Context, {{$name}} {{$Name}}) (*{{$Name}}, error) {
    // create ID - no need to depend on datastore specific autoincrement
    id := uuid.New().String()
    {{$name}}.Id = id

    query := "{{.insertQuery}}"

    _, err := ctx.DB().QueryContext(ctx, query, {{.valueString}})
    if err != nil {
        return nil, err
    }

	return m.Retrieve(ctx, id)
}

func (m *{{$name}}) Retrieve(ctx *gofr.Context, id string) (*{{$Name}}, error) {
    row := ctx.DB().QueryRowContext(ctx, "select * from {{$_name}} where id = ?", id)

    model := {{$Name}}{}
    err := row.Scan({{- range .entity.Fields }}&model.{{.name | PascalCase}},{{ end -}})

    if err == sql.ErrNoRows {
        return nil, errors.EntityNotFound{Entity: "{{$name}}", ID: id}
    }

    if err != nil {
            return nil, err
    }

    return &model, nil
}


func (m *{{$name}}) Update(ctx *gofr.Context, {{$name}} *{{$Name}}) (*{{$Name}}, error) {
    id := {{$name}}.Id
    query := "{{.updateQuery}}"

    _, err := ctx.DB().QueryContext(ctx, query, {{.updateValues}}, id)
    if err != nil {
        return nil, err
    }

    return m.Retrieve(ctx, id)
}

func (m *{{$name}}) Delete(ctx *gofr.Context, id string) error {
    res, err := ctx.DB().ExecContext(ctx, "delete from {{$_name}} where id = ?", id)
    if err != nil {
    	return errors.DB{Err: err}
    }

    rowID, err := res.RowsAffected()
    if err != nil {
        return errors.DB{Err: err}
    }

    if rowID == 0 {
    	return errors.EntityNotFound{Entity: "{{$name}}", ID: id}
    }

    return nil
}